<div style="display: flex; flex-direction: column">
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    "
  >
    <div>
      <h3>Ingrese las edades a calcular:</h3>
    </div>
    <div>
      <label for="">Edad 1</label>
    </div>
    <div>
      <input type="number" [(ngModel)]="edadUno" />
    </div>
    <div>
      <label for="">Edad 2</label>
    </div>
    <div>
      <input type="number" [(ngModel)]="edadDos" />
    </div>
    <div>
      <button (click)="calcular()">Calcular</button>

      <button (click)="borrar()">Borrar</button>
    </div>
  </div>

  <div style="display: flex; flex-direction: column">
    <div>
      <label for="">Resultado de la Suma:</label>
    </div>
    <div>
      <input type="number" [(ngModel)]="resultadoSuma" />
    </div>
    <div>
      <label for="">Resultado del promedio:</label>
    </div>
    <div>
      <input type="number" [(ngModel)]="resultadoPromedio" />
    </div>
  </div>
</div>



<router-outlet></router-outlet>